:root {
    --primary-color: #595959;
    --secondary-color: #535353;
    --bg-color: #ebfce6;
    --font-family: "Share Tech", sans-serif;
    --shadow: rgba(0, 0, 0, 0.3);
    --transition-speed: 0.3s;
}




body {
    font-family: var(--font-family);
    background-color: var(--bg-color);
    color: var(--secondary-color);
    line-height: 1.6;
    font-size: 16px;
}




.main {
    padding: 15px 0;
    width: 600px;
    border-radius: 60px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}




.section {
    padding: 15px 0;
    width: 600px;
    background-color: #5c9571;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 60px;
    margin: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}




.article {
    padding: 15px 0;
    width: 550px;
    background-color: #90cca5;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 60px;
    margin: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


header {
    text-align: center;
}


.dias {
    color: #ebfce6;
}


footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}
